.cuerpo {
    margin: 0px;
    font-family: Montserrat;
    }
  
  #page_name1 {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 6px;
    bottom: 8px;
    width: 185px;
    height: 25px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    }
    
  #grad {
    width: auto;
    height: 42px;
    background: linear-gradient(to right,#8BC34A,#009688);
    }
  
  .busqueda {
    position: relative;
    font-family: Montserrat;
    font-weight: 400;
    left: 480px;
    top: 6px;
    width: 513px;
    height: 30px;
    background: #FFFFFF;
    border: 0px solid #fafafa;
    border-radius: 2px;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.1);
    padding-left: 28px;
  }

  #j {
    position: absolute;
    top: 10px;
    left: 485px;
    width: 20px;
  }
  
  #usuario {
    position: absolute;
    left: 1330px;
    top: 8px;
    width: 115px;
    height: 21px;
    color: #333333;
    font-family: Montserrat;
    font-size: 13px;
    text-align: right;
    line-height: 1px;
    padding: 5px;
    margin: 0px;
  }
  
  #correoUsuario {
    position: absolute;
    left: 1272px;
    top: 23px;
    width: 173px;
    height: 27px;
    color: #333333;
    font-family: Montserrat;
    font-size: 12px;
    text-align: right;
    line-height: 1px;
    padding: 5px;
    margin: 0px;
  }
  
  #imgUsuario {
    position: absolute;
    left: 1455px;
    top: 2px;
    height: 34px;
    width: 34px;
    border: #333333 solid 2px;
  }
  
  #menu1 {
    margin: 0px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    width: 220px;
    height: 664px;
    box-shadow: 5px 0 5px -5px #000000;
  }
  
  #lista_menu {
    margin: 0px;
    padding: 0px;
    width: 220px;
    height: 664px;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    font-weight: 500;
  }

  .p {
    text-decoration: none;
    color: inherit;
  }
  
  #selector {
    position: absolute;
    left: 20px;
    top: 441px;
    width: 198px;
    height: 30px;
    background: rgba(139,195,74,0.2);
    border: 0px solid #000000;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  #el1 {
    position: relative;
    top: 3px;
    left: 18px;
    margin-bottom: 27px;
    width: 200px;
    font-size: 14pt;
  } 
  
  #subtitulo_menu {
    margin-bottom: 20px;
    font-size: 10pt;
    color: #333333;
    font-weight: 400;
    cursor: default;
  }
  
  #el2, #el3, #el4, #el5, #el6, #el7, #el8, #el9, #el10 {
    position: relative;
    left: 18px;
    margin-bottom: 20px;
    width: 200px;
    font-size: 14pt;
    cursor: pointer;
  }
  
  #subtitulo2_menu {
    margin-bottom: 20px;
    font-size: 10pt;
    color: #333333;
    font-weight: 400;
    cursor: default;
  }
  
  #panel_de_contenido {
    position: absolute;
    left: 240px;
    top: 42px;
    width: 1255px;
    height: 704px;
  }
  
  #migajas_de_pan {
    position: relative;
    width: 1195px;
    height: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 12px;
    color: #000000;
    cursor: default;
  }

  .breadcrumb {
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 500;
  }

  #caja_principal {
    width: 1155px;
    height: 596px;
    padding: 10px 50px 30px 50px;
    cursor: default;
    display: flex;
    justify-content: center;
  }

  #creacion {
    width: 740px;
    height: 440px;
    border-radius: 2px;
    padding: 5px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: left;
  }

  #titulillo {
    position: absolute;
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    left: 260px;
    top: 83px;
  }

  #e {
    position: relative;
    margin: 0px;
    font-weight: 600;
    top: 66px;
    left: 5px;
  }
  
  #p {
    position: relative;
    margin: 0px;
    font-weight: 600;
    top: 66px;
    left: 5px;
  }
  
  #nomb {
    position: relative;
    border: 1px #afafaf solid;
    left: 0px;
    top: 50px;
    height: 30px;
    width: 726.5px;
    border-radius: 2px;
    font-family: montserrat;
    padding-left: 10px;
  }
  
  #nomb:hover {
    background-color: #e7e7e7;
  }
  
  #correo {
    position: relative;
    border: 1px #afafaf solid;
    left: 0px;
    top: 50px;
    height: 30px;
    width: 726.5px;
    border-radius: 2px;
    font-family: montserrat;
    padding-left: 10px;
  }
  
  #correo:hover {
    background-color: #e7e7e7;
  }
  
  #contrasena {
    position: relative;
    border: 1px #afafaf solid;
    left: 0px;
    top: 50px;
    height: 30px;
    width: 726.5px;
    border-radius: 2px;
    font-family: montserrat;
    padding-left: 10px;
  }
  
  #contrasena:hover {
    background-color: #e7e7e7;
  }

  #iniciar {
    position: relative;
    border-radius: 2px;
    border: 0px;
    font-family: montserrat;
    color: #FFFFFF;
    height: 60px;
    width: 450px;
    top: 85px;
    left: 145px;
    font-size: large;
    background: #8BC34A;
    cursor: pointer;
  }

  #iniciar:hover {
    background: #7eb044;
  }